<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Consumo de API y Single Page App</title>
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Required Vue and Axios -->		
		<script src="https://unpkg.com/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style type="text/css">
			.card {
				width: 170px;
			}
			.card-img-top {
				width: 150px;
				height: 150px;
				margin: 10px;
			}
			.card-title {
				font-size: 1.2rem;
			}
		</style>

	</head>
	<body>

		<div class="container pt-3">
			<h4>ESPECIALIDADES</h4>
		</div>	
		<!-- Listado de Especialidades -->
		<div id="app_especialidad" class="container pt-2 d-flex align-items-start flex-wrap justify-content-center">
			<template v-for="especialidad in especialidades">
				<div class="card m-2 ">
					<img class="card-img-top " v-bind:src="host +'/img/'+especialidad.imagen" alt="Card image cap">
					<div class="card-block">
						<h4 class="card-title">{{especialidad.nombre}}</h4>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Inscritos: {{especialidad.inscritos}}</li>
						<template v-for="usuario in especialidad.users">
							<li class="list-group-item">{{usuario.nombres}}</li>
						</template>   
					</ul>
				</div>
			</template>
		</div>  

		<!-- Listado de Usuarios -->
		<div id="app_usuario">
			<div  class="container pt-2 d-flex justify-content-between">
				<h4>USUARIOS</h4>
				<button  type="button" class="btn btn-primary" v-on:click="mostrar_formulario_agregar" >
					<i class="fa fa-plus" aria-hidden="true"></i>
					<span>&nbsp&nbsp Agregar</span>
				</button>
			</div>			
			<div class="container pt-2">
				<table class="table">
					<thead class="thead-default">
						<tr>
							<th style="text-align:center;" >Nombres</th>
							<th style="text-align:center;" >Email</th>
							<th style="text-align:center;" >Especialidad</th>
							<th style="text-align:center;" >Username</th>
							<th style="text-align:center;" >Opciones</th>
						</tr>
					</thead>
					<tbody>
						<template v-for="usuario in usuarios">
							<tr>
								<td>{{usuario.nombres}}</td>
								<td>{{usuario.email}}</td>
								<td>{{usuario.especialidad}}</td>
								<td>{{usuario.username}}</td>
								<th class="d-flex justify-content-around px-4" >
									<a v-on:click="mostrar_formulario_editar(usuario)">
										<i class="fa fa-pencil fa-lg" style="color: #2980b9; cursor:pointer;" aria-hidden="true"></i>
									</a>
									<a v-on:click="eliminar(usuario)">
										<i class="fa fa-trash fa-lg"  style="color: #e74c3c; cursor:pointer;" aria-hidden="true"></i>
									</a>
								</th>
							</tr>
						</template>
					</tbody>
				</table>
			</div>
		</div>	

		<!-- Formulario -->
		<div id="app_form" v-if="mostrar"> 
			<div class="container pt-2">
				<h4>{{titulo}}</h4>
			</div>
			<div class="container pt-2 pb-4 d-flex justify-content-around" v-on:submit.prevent="submit">
				<form method="post" class="w-50">
					<div class="form-group ">
						<label for="example-text-input" class="col-2 col-form-label">Nombre:</label>
						<input class="form-control" id="nombres" name ="nombres" v-model="nombres" type="text" placeholder="Tu nombre y apellidos" id="example-text-input">
					</div>
					<div class="form-group ">
						<label for="example-email-input" class="col-2 col-form-label">Email:</label>
						<input class="form-control" id="email" name ="email" v-model="email" type="email" placeholder="email@dominio.com" id="example-email-input">
					</div>
					<div class="form-group ">
						<label for="example-select-input" class="col-2 col-form-label">Especialidad:</label>
						<select id="especialidad" name ="especialidad" v-model="especialidad" v-on:change="escoger" class="form-control" id="example-select-input" > 
							<template v-for="especialidad in especialidades">
								<option>{{especialidad.nombre}}</option>
							</template>   
						</select>
					</div>
					<div class="form-group ">
						<label for="example-select-input" class="col-2 col-form-label">Username:</label>
						<input class="form-control" id="username" name ="username" v-model="username" type="text" placeholder="Username" id="example-text-input">
					</div>
					<div class="form-group ">
						<label for="example-select-input" class="col-2 col-form-label">Contraseña:</label>
						<input class="form-control" id="password" name ="password" v-model="password" type="password" placeholder="" id="example-text-input">
					</div>
					<button class="btn btn-primary" v-on:click="agregar">{{titulo_boton}}</button>
					<button class="btn btn-danger" v-on:click="cancelar">CANCELAR</button>
				</form>
				<div class="card w-50 ml-4" style="height: 370px;"> 
					<div class="d-flex justify-content-center">
						<img class="card-img-top" v-bind:src="host +'/img/'+imagen" alt="Card image cap"> 
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><b>Especialidad: </b>&nbsp&nbsp  {{especialidad}} </li>
						<li class="list-group-item"><b>Nombres:      </b>&nbsp&nbsp  {{nombres}} </li>
						<li class="list-group-item"><b>Email:        </b>&nbsp&nbsp  {{email}} </li>
						<li class="list-group-item"><b>Useranme:     </b>&nbsp&nbsp  {{username}} </li>
					</ul>
				</div>
			</div>
		</div>	
				
		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src="js/vue.js"></script>
	</body>
	<!-- Aplicaciones en VueJS -->
	
</html>